langchain
langchain-openai
langchain-community
langchain-google-genai
sentence-transformers
langchain-huggingface

fastapi
uvicorn[standard]
pydantic
python-dotenv
tqdm # Przydatne do pokazywania pasków postępu
faiss-cpu
tiktoken